@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

<div class="navbar-light bg-light border-right custom-sidemenu" id="sidebar-wrapper">
    <div class="sidebar-heading navbar-light bg-light text-white custom-sidemenu-header">File Processor</div>
    <div class="list-group list-group-flush">
        <a class="list-group-item list-group-item-action bg-dark text-white" href="@Url.Action("Index", "Dashboard")"><i class="fa fa-home mr-2"></i>Dashboard</a>
        <a class="list-group-item list-group-item-action bg-dark text-white" href="@Url.Action("UploadBaseClass", "Dashboard")"><i class="fa fa-upload mr-2"></i>Upload Base Class</a>
        <a class="list-group-item list-group-item-action bg-dark text-white" href="@Url.Action("ManageBaseClass", "Dashboard")"><i class="fa fa-graduation-cap mr-2"></i>Manage Base Class</a>
        <a class="list-group-item list-group-item-action bg-dark text-white" href="@Url.Action("Index", "GradeModuleRoster")"><i class="fas fa-list-ol mr-2"></i>Manage Grade Roster</a>
        <a class="list-group-item list-group-item-action bg-dark text-white" href="@Url.Action("UploadStudentScreening", "StudentScreening")"><i class="fas fa-cloud-upload-alt  mr-2"></i>Upload Student Screening</a>
        <a class="list-group-item list-group-item-action bg-dark text-white" href="@Url.Action("ManageStudentScreening", "StudentScreening")"><i class="fa fa-temperature-low  mr-2"></i>Manage Student Screenings</a>
        <a class="list-group-item list-group-item-action bg-dark text-white" href="@Url.Action("SchoolAbsenteeByDate", "Report")"><i class="fas fa-user-friends  mr-2"></i>School Absent Report</a>
        <a class="list-group-item list-group-item-action bg-dark text-white" href="@Url.Action("StudentAbsenteeByDate", "Report")"><i class="fa fa-user-clock  mr-2"></i>Student Absent Report</a>
        <a class="list-group-item list-group-item-action bg-dark text-white" href="@Url.Action("Signout", "Dashboard")"><i class="fa fa-sign-out-alt mr-2"></i>Logout</a>
    </div>
</div>