@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

<div class="navbar-light bg-light border-right custom-sidemenu" id="sidebar-wrapper">
    <div class="sidebar-heading navbar-light bg-light text-white custom-sidemenu-header">Asset Management</div>
    <div class="list-group list-group-flush">
        <a class="list-group-item list-group-item-action bg-dark text-white" href="@Url.Action("", "")"><i class="fa fa-home mr-2"></i>Button 1</a>
        <a class="list-group-item list-group-item-action bg-dark text-white" href="@Url.Action("", "")"><i class="fa fa-laptop mr-2"></i>Button 2</a>
        <a class="list-group-item list-group-item-action bg-dark text-white" href="@Url.Action("", "")"><i class="fa fa-search mr-2"></i>Button 3</a>
        <a class="list-group-item list-group-item-action bg-dark text-white" href="@Url.Action("", "")"><i class="fa fa-users mr-2"></i>Button 4</a>
        <a class="list-group-item list-group-item-action bg-dark text-white" href="@Url.Action("", "")"><i class="fa fa-university mr-2"></i>Button 5</a>
        <a class="list-group-item list-group-item-action bg-dark text-white" href="@Url.Action("", "")"><i class="fa fa-map mr-2"></i>Button 6</a>
        <a class="list-group-item list-group-item-action bg-dark text-white" href="@Url.Action("", "")"><i class="fa fa-calendar-day mr-2"></i>Button 7</a>
        <a class="list-group-item list-group-item-action bg-dark text-white" asp-area="Identity" asp-page="/Account/Manage/Index"><i class="fa fa-id-badge mr-2"></i>Profile</a>
        <a class="list-group-item list-group-item-action bg-dark text-white" href="@Url.Action("Signout", "Home")"><i class="fa fa-sign-out-alt mr-2"></i>Logout</a>
    </div>
</div>

