@model UploadBaseClassResultViewModel
@{
    ViewData["Title"] = "Upload Base Class Result";
}

<div class="form-row custom-row-responsiveness">
    <div class="col-12 custom-col-responsiveness mb-2">
        <h1 class="custom-dark-blue">Upload Base Class Result</h1>
        <hr class="custom-blue-hr" />
    </div>
    <!--Tabs-->
    <div class="col-12 custom-col-responsiveness">
        <ul class="nav nav-tabs" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" data-toggle="tab" href="#tabs-1" role="tab" onclick="setNewTab()">New Records</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#tabs-2" role="tab" onclick="setNewTab()">Updates</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#tabs-3" role="tab" onclick="setNewTab()">Row Errors</a>
            </li>
        </ul>
    </div>

    <div class="col-xl-2 offset-xl-10 col-md-12 mt-3">
        <button class="btn btn-outline-primary custom-primary-button full-width" id="btnCompleteProcess" data-toggle="tooltip" data-placement="bottom" title="Saves student base class records." onclick="sweetAlert2_CompleteBaseClassUpload()">Complete Process</button>
    </div>

    <div class="col-12 custom-col-responsiveness">
        <!-- Tab panes -->
        <div class="tab-content mt-3" id="tab-content-main">
            <!--New Records-->
            <div class="tab-pane active" id="tabs-1" role="tabpanel">
                <div class="table-responsive">
                    <table class="table table-striped full-width" id="table-create">
                        <thead>
                            <tr>
                                <th>Row #</th>
                                <th>QR Code</th>
                                <th>Student #</th>
                                <th>First Name</th>
                                <th>Last Name</th>
                                <th>Gender</th>
                                <th>Class</th>
                                <th>Group</th>
                                <th>Color</th>
                                <th class="text-center"> Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model.CreateList.Count() < 1)
                            {
                                <tr class="text-center">
                                    <td colspan="10">No records available</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
            <!--Updates-->
            <div class="tab-pane" id="tabs-2" role="tabpanel">
                <div class="table-responsive">
                    <table class="table table-striped full-width" id="table-update">
                        <thead>
                            <tr>
                                <th>Row #</th>
                                <th>QR Code</th>
                                <th>Student #</th>
                                <th>First Name</th>
                                <th>Last Name</th>
                                <th>Gender</th>
                                <th>Class</th>
                                <th>Group</th>
                                <th>Color</th>
                                <th class="text-center"> Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model.UpdateList.Count() < 1)
                            {
                                <tr class="text-center">
                                    <td colspan="10">No records available</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
            <!--Row Errors-->
            <div class="tab-pane" id="tabs-3" role="tabpanel">
                <div class="table-responsive">
                    <table class="table table-striped full-width" id="table-error">
                        <thead>
                            <tr>
                                <th>Row #</th>
                                <th>QR Code</th>
                                <th>Student #</th>
                                <th>First Name</th>
                                <th>Last Name</th>
                                <th>Gender</th>
                                <th>Class</th>
                                <th>Group</th>
                                <th>Color</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model.UpdateList.Count() < 1)
                            {
                                <tr class="text-center">
                                    <td colspan="9">No records available</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<script>

    $(document).ready(function () {
        var tableCreate;
        var tableUpdate;
        var tableError;

        loadingSpinner_Show();

        var createCount = '@Model.CreateList.Count()';
        if (createCount != 0 && createCount != '0') {
            tableCreate = loadCreateTable();
        }
        var updateCount = '@Model.UpdateList.Count()';
        if (updateCount != 0 && updateCount != '0') {
            tableUpdate = loadUpdateTable();
        }
        var errorCount = '@Model.ErrorList.Count()';
        if (errorCount != 0 && errorCount != '0') {
            tableError = loadErrorTable();
        }

        setTimeout(function () { loadingSpinner_Hide(); }, 1500)

        $('#table-create').on('click', '.js-delete', function (data) {
            var button = $(this);
            Swal.fire({
                icon: 'warning',
                title: "Delete Action",
                text: 'Are you sure you want to delete this action?',
                showClass: {
                    popup: 'animate__animated animate__fadeInDown'
                },
                hideClass: {
                    popup: 'animate__animated animate__fadeOutUp'
                },
                showConfirmButton: true,
                confirmButtonColor: '#217093 ',
                confirmButtonText: 'Delete',
                showCancelButton: true,
                cancelButtonText: "Cancel",
                allowOutsideClick: false,
                reverseButtons: true
            }).then((result) => {
                if (result.isConfirmed) {
                    var studTempId = button.attr("data-student-id")
                    $.ajax({
                         url: '@Url.Action("DeleteStudentTempRecord", "BaseClass")',
                        data: { studentTempId: studTempId },
                        method: "DELETE",
                        success: function () {
                            tableCreate.row(button.parents("tr")).remove().draw();
                        },
                        error: function () {
                            Swal.fire({
                                icon: 'error',
                                title: 'Oops...',
                                text: 'This record can not be deleted!',
                                showClass: {
                                    popup: 'animate__animated animate__fadeInDown'
                                },
                                hideClass: {
                                    popup: 'animate__animated animate__fadeOutUp'
                                },
                            })
                        }
                    });
                }
            })
        });

        $('#table-update').on('click', '.js-delete', function (data) {
            var button = $(this);
          Swal.fire({
                icon: 'warning',
                title: "Delete Action",
                text: 'Are you sure you want to delete this action?',
                showClass: {
                    popup: 'animate__animated animate__fadeInDown'
                },
                hideClass: {
                    popup: 'animate__animated animate__fadeOutUp'
                },
                showConfirmButton: true,
                confirmButtonColor: '#217093 ',
                confirmButtonText: 'Delete',
                showCancelButton: true,
                cancelButtonText: "Cancel",
                allowOutsideClick: false,
                reverseButtons: true
            }).then((result) => {
                if (result.isConfirmed) {
                    var studTempId = button.attr("data-student-id")
                    $.ajax({
                         url: '@Url.Action("DeleteStudentTempRecord", "BaseClass")',
                        data: { studentTempId: studTempId },
                        method: "DELETE",
                        success: function () {
                            /*button.parents("tr").remove();*/
                            tableUpdate.row(button.parents("tr")).remove().draw();    // remove from internal list
                        },
                        error: function () {
                            Swal.fire({
                                icon: 'error',
                                title: 'Oops...',
                                text: 'This record can not be deleted!',
                                showClass: {
                                    popup: 'animate__animated animate__fadeInDown'
                                },
                                hideClass: {
                                    popup: 'animate__animated animate__fadeOutUp'
                                },
                            })
                        }
                    });
                }
            })

        });
    });

    function loadCreateTable() {
        var table =   $('#table-create').DataTable({
            ajax: {
                url: "@Url.Action("GetCreateStudentList", "BaseClass")",
                dataSrc: ""
            },
            columns: [
                {
                    data: "rowNumber",
                    visible: true
                },
                {
                    data: "qrCode",
                    visible: true
                },
                {
                    data: "studentNr",
                    visible: true
                },
                {
                    data: "firstName",
                    visible: true
                },
                {
                    data: "lastName",
                    visible: true
                },
                {
                    data: "genderGenderName",
                    visible: true
                },
                {
                    data: "studentClassdisplayName",
                    visible: true
                },
                {
                    data: "studentColorColorName",
                    visible: true
                },
                {
                    data: "studentGroupDisplayName",
                    visible: true
                },
                {
                    data: "studentTempId",
                    render: function (data) {
                        var result = "<div class='row text-center'>"
                        result += "<div class='col-12'><button class='btn btn-outline-danger js-delete control-full-width' data-student-id=" + data + ">Remove Action</button></div>";
                        result += "</div>";
                        return result;
                    }
                }
            ]
     });
        return table;
    }

    function loadUpdateTable() {
       var table = $('#table-update').DataTable({
            ajax: {
                url: "@Url.Action("GetUpdateStudentList", "BaseClass")",
                dataSrc: ""
            },
            columns: [
                {
                    data: "rowNumber",
                    visible: true
                },
                {
                    data: "qrCode",
                    visible: true
                },
                {
                    data: "studentNr",
                    visible: true
                },
                {
                    data: "firstName",
                    visible: true
                },
                {
                    data: "lastName",
                    visible: true
                },
                {
                    data: "genderGenderName",
                    visible: true
                },
                {
                    data: "studentClassdisplayName",
                    visible: true
                },
                {
                    data: "studentColorColorName",
                    visible: true
                },
                {
                    data: "studentGroupDisplayName",
                    visible: true
                },
                {
                    data: "studentTempId",
                    render: function (data) {
                        var result = "<div class='row text-center'>"
                        result += "<div class='col-12'><button class='btn btn-outline-danger js-delete control-full-width' data-student-id=" + data + ">Remove Action</button></div>";
                        result += "</div>";
                        return result;
                    }
                }
            ]
       });
        return table;
    }

    function loadErrorTable(){
       var table = $('#table-error').DataTable({
            ajax: {
                url: "@Url.Action("GetRowErrorStudentList", "BaseClass")",
                dataSrc: ""
            },
            columns: [
                {
                    data: "rowNumber",
                    visible: true
                },
                {
                    data: "qrCode",
                    visible: true
                },
                {
                    data: "studentNr",
                    visible: true
                },
                {
                    data: "firstName",
                    visible: true
                },
                {
                    data: "lastName",
                    visible: true
                },
                {
                    data: "genderGenderName",
                    visible: true
                },
                {
                    data: "studentClassdisplayName",
                    visible: true
                },
                {
                    data: "studentColorColorName",
                    visible: true
                },
                {
                   data: "studentGroupDisplayName",
                   visible: true
               }
           ]
       });
        return table;
    }

    function setNewTab() {
        loadingSpinner_Show();
        setTimeout(function () { loadingSpinner_Hide() }, 800);
    }
</script>