@model UploadBaseClassResultViewModel
@{
    ViewData["Title"] = "Upload Base Class Result";
}

<style>

    .modal {
        margin: 0 auto !important;
        padding: 0 0 0 0 !important;
    }

    .modal-title {
        color: #217093 !important;
        font-size: 1.5rem !important;
    }
</style>

<div class="form-row custom-row-responsiveness">
    <div class="col-12 custom-col-responsiveness mb-2">
        <h1 class="custom-dark-blue">Upload Base Class Result</h1>
        <hr class="custom-blue-hr" />
    </div>
    <!--Tabs-->
    <div class="col-12 custom-col-responsiveness">
        <ul class="nav nav-tabs" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" data-toggle="tab" href="#tabs-1" role="tab" onclick="setNewTab()">New Records</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#tabs-2" role="tab" onclick="setNewTab()">Updates</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#tabs-3" role="tab" onclick="setNewTab()">Row Errors</a>
            </li>
        </ul>
    </div>

    <div class="col-xl-2 offset-xl-10 col-md-12 mt-3">
        <button class="btn btn-outline-primary custom-primary-button full-width" id="btnCompleteProcess" data-toggle="tooltip" data-placement="bottom" title="Saves student base class records." onclick="sweetAlert2_CompleteBaseClassUpload()">Complete Process</button>
    </div>

    <div class="col-12 custom-col-responsiveness">
        <!-- Tab panes -->
        <div class="tab-content mt-3" id="tab-content-main">
            <!--New Records-->
            <div class="tab-pane active" id="tabs-1" role="tabpanel">
                <div class="table-responsive">
                    <table class="table table-striped full-width" id="table-create">
                        <thead>
                            <tr>
                                <th>Row #</th>
                                <th>QR Code</th>
                                <th>Student #</th>
                                <th>First Name</th>
                                <th>Last Name</th>
                                <th>Gender</th>
                                <th>Class</th>
                                <th>Group</th>
                                <th class="text-center"> Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model.CreateList.Count() < 1)
                            {
                                <tr class="text-center">
                                    <td colspan="10">No records available</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
            <!--Updates-->
            <div class="tab-pane" id="tabs-2" role="tabpanel">
                <div class="table-responsive">
                    <table class="table table-striped full-width" id="table-update">
                        <thead>
                            <tr>
                                <th>Row #</th>
                                <th>QR Code</th>
                                <th>Student #</th>
                                <th>First Name</th>
                                <th>Last Name</th>
                                <th>Gender</th>
                                <th>Class</th>
                                <th>Group</th>
                                <th class="text-center"> Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model.UpdateList.Count() < 1)
                            {
                                <tr class="text-center">
                                    <td colspan="10">No records available</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
            <!--Row Errors-->
            <div class="tab-pane" id="tabs-3" role="tabpanel">
                <div class="table-responsive">
                    <table class="table table-striped full-width" id="table-error">
                        <thead>
                            <tr>
                                <th>Row #</th>
                                <th>QR Code</th>
                                <th>Student #</th>
                                <th>First Name</th>
                                <th>Last Name</th>
                                <th>Gender</th>
                                <th>Class</th>
                                <th>Group</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model.UpdateList.Count() < 1)
                            {
                                <tr class="text-center">
                                    <td colspan="9">No records available</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Module modal -->
<partial name="_StudentTempModulePartialView" />


<script>

    $(document).ready(function () {
        var tableCreate;
        var tableUpdate;
        var tableError;

        loadingSpinner_Show();

        var createCount = '@Model.CreateList.Count()';
        if (createCount != 0 && createCount != '0') {
            tableCreate = loadCreateTable();
        }
        var updateCount = '@Model.UpdateList.Count()';
        if (updateCount != 0 && updateCount != '0') {
            tableUpdate = loadUpdateTable();
        }
        var errorCount = '@Model.ErrorList.Count()';
        if (errorCount != 0 && errorCount != '0') {
            tableError = loadErrorTable();
        }

        setTimeout(function () { loadingSpinner_Hide(); }, 1500)

        $('#table-create').on('click', '.js-delete', function (data) {
            var button = $(this);
            Swal.fire({
                icon: 'warning',
                title: "Delete Action",
                text: 'Are you sure you want to delete this action?',
                showClass: {
                    popup: 'animate__animated animate__fadeInDown'
                },
                hideClass: {
                    popup: 'animate__animated animate__fadeOutUp'
                },
                showConfirmButton: true,
                confirmButtonColor: '#217093 ',
                confirmButtonText: 'Delete',
                showCancelButton: true,
                cancelButtonText: "Cancel",
                allowOutsideClick: false,
                reverseButtons: true
            }).then((result) => {
                if (result.isConfirmed) {
                    var studTempId = button.attr("data-student-id")
                    $.ajax({
                         url: '@Url.Action("DeleteStudentTempRecord", "BaseClass")',
                        data: { studentTempId: studTempId },
                        method: "DELETE",
                        success: function () {
                            tableCreate.row(button.parents("tr")).remove().draw();
                        },
                        error: function () {
                            Swal.fire({
                                icon: 'error',
                                title: 'Oops...',
                                text: 'This record can not be deleted!',
                                showClass: {
                                    popup: 'animate__animated animate__fadeInDown'
                                },
                                hideClass: {
                                    popup: 'animate__animated animate__fadeOutUp'
                                },
                            })
                        }
                    });
                }
            })
        });

        $('#table-create').on('click', '.js-modal', function (data) {
            var button = $(this);
            var studTempId = button.attr("data-student-id");

            $.ajax({
                url: "@Url.Action("GetStudentTempModuleViewModel", "BaseClass")",
                type: 'GET',
                data: { studentTempId: studTempId },
                success: function (data) {
                    if (data != null) {
                        //  populate fields
                        setModalValues(data);
                        $('#moduleModal').modal('toggle');
                    }
                },
                error: function () {
                   sweetAlertError("View Module Details", "An error occurred while trying to view module details.")
                }
            });
        });

        $('#table-update').on('click', '.js-delete', function (data) {
            var button = $(this);
          Swal.fire({
                icon: 'warning',
                title: "Delete Action",
                text: 'Are you sure you want to delete this action?',
                showClass: {
                    popup: 'animate__animated animate__fadeInDown'
                },
                hideClass: {
                    popup: 'animate__animated animate__fadeOutUp'
                },
                showConfirmButton: true,
                confirmButtonColor: '#217093 ',
                confirmButtonText: 'Delete',
                showCancelButton: true,
                cancelButtonText: "Cancel",
                allowOutsideClick: false,
                reverseButtons: true
            }).then((result) => {
                if (result.isConfirmed) {
                    var studTempId = button.attr("data-student-id")
                    $.ajax({
                         url: '@Url.Action("DeleteStudentTempRecord", "BaseClass")',
                        data: { studentTempId: studTempId },
                        method: "DELETE",
                        success: function () {
                            /*button.parents("tr").remove();*/
                            tableUpdate.row(button.parents("tr")).remove().draw();    // remove from internal list
                        },
                        error: function () {
                            Swal.fire({
                                icon: 'error',
                                title: 'Oops...',
                                text: 'This record can not be deleted!',
                                showClass: {
                                    popup: 'animate__animated animate__fadeInDown'
                                },
                                hideClass: {
                                    popup: 'animate__animated animate__fadeOutUp'
                                },
                            })
                        }
                    });
                }
            })

        });

        $('#table-update').on('click', '.js-modal', function (data) {
            var button = $(this);
            var studTempId = button.attr("data-student-id");

               $.ajax({
                url: "@Url.Action("GetStudentTempModuleViewModel", "BaseClass")",
                type: 'GET',
                data: { studentTempId: studTempId },
                success: function (data) {
                    if (data != null) {
                        //  populate fields
                        setModalValues(data);
                        $('#moduleModal').modal('toggle');
                    }
                },
                error: function () {
                   sweetAlertError("View Module Details", "An error occurred while trying to view module details.")
                }
            });
        });
    });

    function loadCreateTable() {
        var table = $('#table-create').DataTable({
            dom: 'Bfrtip',
            buttons: [
                {
                    extend: 'excel',
                    orientation: 'landscape',
                    pageSize: 'A4',
                    className: 'btn btn-success',
                    exportOptions: {
                        columns: [0, 1, 2, 3, 4, 5, 6, 7, 8]
                    }
                },
                {
                    extend: 'pdf',
                    orientation: 'landscape',
                    pageSize: 'A4',
                    className: 'btn btn-danger',
                    exportOptions: {
                        columns: [0, 1, 2, 3, 4, 5, 6, 7, 8]
                    }
                },
                {
                    extend: 'print',
                    orientation: 'landscape',
                    className: 'btn btn-warning',
                    pageSize: 'A4',
                    exportOptions: {
                        columns: [0, 1, 2, 3, 4, 5, 6, 7, 8]
                    }
                }
            ],
            ajax: {
                url: "@Url.Action("GetCreateStudentList", "BaseClass")",
                dataSrc: ""
            },
            columns: [
                {
                    data: "rowNumber",
                    visible: true
                },
                {
                    data: "qrCode",
                    visible: true
                },
                {
                    data: "studentNr",
                    visible: true
                },
                {
                    data: "firstName",
                    visible: true
                },
                {
                    data: "lastName",
                    visible: true
                },
                {
                    data: "genderGenderName",
                    visible: true
                },
                {
                    data: "studentClassdisplayName",
                    visible: true
                },
                {
                    data: "studentGroupDisplayName",
                    visible: true
                },
                {
                    data: "studentTempId",
                    render: function (data) {
                        var result = "<div class='row text-center'>"
                        result += "<div class='col-6'><button class='btn btn-outline-secondary js-modal control-full-width' data-student-id=" + data + ">View Module</button></div>";
                        result += "<div class='col-6'><button class='btn btn-outline-danger js-delete control-full-width' data-student-id=" + data + ">Remove Action</button></div>";
                        result += "</div>";
                        return result;
                    }
                }
            ]
     });
        return table;
    }

    function loadUpdateTable() {
        var table = $('#table-update').DataTable({
            dom: 'Bfrtip',
            buttons: [
                {
                    extend: 'excel',
                    orientation: 'landscape',
                    pageSize: 'A4',
                    className: 'btn btn-success',
                    exportOptions: {
                        columns: [0, 1, 2, 3, 4, 5, 6, 7, 8]
                    }
                },
                {
                    extend: 'pdf',
                    orientation: 'landscape',
                    pageSize: 'A4',
                    className: 'btn btn-danger',
                    exportOptions: {
                        columns: [0, 1, 2, 3, 4, 5, 6, 7, 8]
                    }
                },
                {
                    extend: 'print',
                    orientation: 'landscape',
                    className: 'btn btn-warning',
                    pageSize: 'A4',
                    exportOptions: {
                        columns: [0, 1, 2, 3, 4, 5, 6, 7, 8]
                    }
                }
            ],
            ajax: {
                url: "@Url.Action("GetUpdateStudentList", "BaseClass")",
                dataSrc: ""
            },
            columns: [
                {
                    data: "rowNumber",
                    visible: true
                },
                {
                    data: "qrCode",
                    visible: true
                },
                {
                    data: "studentNr",
                    visible: true
                },
                {
                    data: "firstName",
                    visible: true
                },
                {
                    data: "lastName",
                    visible: true
                },
                {
                    data: "genderGenderName",
                    visible: true
                },
                {
                    data: "studentClassdisplayName",
                    visible: true
                },
                {
                    data: "studentGroupDisplayName",
                    visible: true
                },
                {
                    data: "studentTempId",
                    render: function (data) {
                        var result = "<div class='row text-center'>"
                        result += "<div class='col-6'><button class='btn btn-outline-secondary js-modal control-full-width' data-student-id=" + data + ">View Modules</button></div>";
                        result += "<div class='col-6'><button class='btn btn-outline-danger js-delete control-full-width' data-student-id=" + data + ">Remove Action</button></div>";
                        result += "</div>";
                        return result;
                    }
                }
            ]
       });
        return table;
    }

    function loadErrorTable(){
        var table = $('#table-error').DataTable({
            dom: 'Bfrtip',
            buttons: [
                {
                    extend: 'excel',
                    orientation: 'landscape',
                    pageSize: 'A4',
                    className: 'btn btn-success',
                    exportOptions: {
                        columns: [0, 1, 2, 3, 4, 5, 6, 7, 8]
                    }
                },
                {
                    extend: 'pdf',
                    orientation: 'landscape',
                    pageSize: 'A4',
                    className: 'btn btn-danger',
                    exportOptions: {
                        columns: [0, 1, 2, 3, 4, 5, 6, 7, 8]
                    }
                },
                {
                    extend: 'print',
                    orientation: 'landscape',
                    className: 'btn btn-warning',
                    pageSize: 'A4',
                    exportOptions: {
                        columns: [0, 1, 2, 3, 4, 5, 6, 7, 8]
                    }
                }
            ],
            ajax: {
                url: "@Url.Action("GetRowErrorStudentList", "BaseClass")",
                dataSrc: ""
            },
            columns: [
                {
                    data: "rowNumber",
                    visible: true
                },
                {
                    data: "qrCode",
                    visible: true
                },
                {
                    data: "studentNr",
                    visible: true
                },
                {
                    data: "firstName",
                    visible: true
                },
                {
                    data: "lastName",
                    visible: true
                },
                {
                    data: "genderGenderName",
                    visible: true
                },
                {
                    data: "studentClassdisplayName",
                    visible: true
                },
                {
                   data: "studentGroupDisplayName",
                   visible: true
               }
           ]
       });
        return table;
    }

    function setNewTab() {
        loadingSpinner_Show();
        setTimeout(function () { loadingSpinner_Hide() }, 800);
    }

    function setModalValues(validObj) {

        var monCode = $('#txtMonCode');
        var monSub = $('#txtMonString');
        var tuesCode = $('#txtTuesCode');
        var tuesSub = $('#txtTuesString');
        var wedCode = $('#txtWedCode');
        var wedSub = $('#txtWedString');
        var thurCode = $('#txtThurCode');
        var thurSub = $('#txtThurString');
        var friCode = $('#txtFriCode');
        var friSub = $('#txtFriString');
        var ext1Code = $('#txtExt1Code');
        var ext1Sub = $('#txtExt1String');
        var ext2Code = $('#txtExt2Code');
        var ext2Sub = $('#txtExt2String');
        var ext3Code = $('#txtExt3Code');
        var ext3Sub = $('#txtExt3String');


        monCode.val(validObj.mondayModuleCode);
        monSub.val(validObj.mondaySubjectString);
        tuesCode.val(validObj.tuesdayModuleCode);
        tuesSub.val(validObj.tuesdaySubjectString);
        wedCode.val(validObj.wednesdayModuleCode);
        wedSub.val(validObj.wednesdaySubjectString);
        thurCode.val(validObj.thursdayModuleCode);
        thurSub.val(validObj.thursdaySubjectString);
        friCode.val(validObj.fridayModuleCode);
        friSub.val(validObj.fridaySubjectString);
        ext1Code.val(validObj.extra01ModuleCode);
        ext1Sub.val(validObj.extra01SubjectString);
        ext2Code.val(validObj.extra02ModuleCode);
        ext2Sub.val(validObj.extra02SubjectString);
        ext3Code.val(validObj.extra03ModuleCode);
        ext3Sub.val(validObj.extra03SubjectString);
    }
</script>